body {
  background-color: black;
  padding: 15px;
}

h1 {
  color: white;
  font-family: Futura;
  font-weight: bold;
}

p {
  color: white;
  font-family: Futura;
  font-weight: bold;
}

.textBoxTitle p {
 padding-top: 2em;
 font-size: 16;
 text-transform: uppercase;
}

.textBox {

}

/* Read More Button */
.RMButton {
  background-color: #3498DB;
  border: none;
  cursor: pointer;
  padding: 15;
  font-family: Futura;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14;
  color: white;
}

/* Read More button on hover & focus */
.RMButton:hover, .RMButton:focus {
  background-color: #2980B9;
}

/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: Futura;
  font-weight: bold;
  text-transform: uppercase;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  overflow: auto;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: Futura;
  font-weight: bold;
  text-transform: uppercase;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
